<h1>Editing send message</h1>

<%= render "form", send_message: @send_message %>

<br>

<div>
  <%= link_to "Show this send message", @send_message %> |
  <%= link_to "Back to send messages", send_messages_path %>
</div>
