<section class='flex flex-col w-[80vw] gap-5'>
  <h1 class="text-2xl">Send a Text Message</h1>

  <%= render "form", send_message: @send_message %>

  <br>

  <div class="bg-red-500 w-fit text-[#fff] px-2 py-2">
    <%= button_to "Clear All Inputs" %>
  </div>
</section>